{
  "extends": ["react-important-stuff", "plugin:prettier/recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-console": "error",
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
